/**
 * PortaMx Forum
 * @package PortaMx
 * @author PortaMx
 * @copyright 2018 PortaMx
 *
 * \file portal_print.css
 * CSS file for portal printing
 *
 * @version 1.41
 */

body
{
	background-color: #ffffff;
	margin: 1em;
	padding: 0;
}
.pmx_printbody
{
	font-size: 10pt;
	font-family: "Verdana", "Arial", "Helvetica", sans-serif;
}
/* EOF */