/**
 * PortaMx Forum
 * @package PortaMx
 * @author PortaMx
 * @copyright 2018 PortaMx
 *
 * file portal.css
 * CSS file for portal Admin part
 *
 * @version 1.41
 */

/* popup globals */
.pmx_scrolldiv {
	overflow-x: auto;
}
.pmx_popupfrm {
	margin-top: 0px;
	padding: 5px;
	border-radius: 0 0 5px 5px
}
.pmx_popuphead {
	cursor: pointer;
	margin-bottom: 0;
	margin-top: 5px;
}
.pmx_popuphead_img {
	padding-left: 10px;
}

/* variouse blocks settings area */
.bmcustheight {
	min-height: 182px;
	overflow: overlay;
}

/* common title popup */
#pmxSetTitle {
	width: 325px;
	z-index: 9999;
	display: none;
}
.bmsetttl0 {
	float: left;
	width: 75px;
}
.bmsetttl2 {
	width: 235px;
}
.bmsetttl3 {
	clear: both;
	height:10px;
}
.bmsetttl4 {
	float: left;
	margin-top:-3px;
}
.bmsetttl5 {
	float: left;
	width: 75px;
}
.bmsetttl6 {
	float: left;
	width: 168px;
}
.bmsetttl7 {
	float: right;
	padding-right: 1px;
	padding-top: 3px;
}
.bmsetttl8 {
	vertical-align: 2px;
	cursor: pointer;
}
.bmsetttl9 {
	clear: both;
}
.bmsetttl10 {
	float: right;
	margin-top: 6px !important;
	margin-right: 3px;
}
.bmpadr10 {
	margin-right: 10%;
}
/* common access popup */
#pmxSetAcs {
	width: 280px;
	z-index: 9999;
	display: none;
}
.acspu0 {
	float: left;
}
.acspu2 {
	width: 130px;
}
.acspu3 {
	float: right;
}
.acspu4 {
	margin-top: -1px;
	height: 88px;
}
.acspu5 {
	height:	18px;
}
.acspu6 {
	padding: 1px 5px;
	display: inline-flex;
}
.acspu7 {
	margin-top: -7px;
}
.acspu8 {
	margin: 0;
}

/* blocks manager overview */
.bm_ttldd {
	top: 128px !important;
	left: 81px !important;
}
.bm_ttldd_mb {
	top: 129px !important;
	left: 81px !important;
}
.bm_headrow {
	height: 29px;
}
.bm_row {
	height: 27px;
}
.bm_order {
	width: 45px;
	min-width: 45px;
}
.bm_ttl {
	width: 57%;
	min-width: 200px;
	max-width: 200px;
	white-space: nowrap;
}
.bm_ttl_act {
	cursor: pointer;
}
.bm_typ {
	width: 36%;
	min-width: 140px;
	max-width: 140px;
	white-space: nowrap;
}
.bm_opts {
	width: 126px;
	min-width: 126px;
}
.bm_stats {
	width: 43px;
	min-width: 43px;
}
.bm_func {
	width: 105px;
	min-width: 105px;
}
.bm_minh25 {
	min-height: 25px;
}
/* article manager overview */
.art_ttl {
	width: 50%;
	min-width: 180px;
	max-width: 180px;
	white-space: nowrap;
}
.art_ttl span {
	overflow: hidden;
	text-overflow: ellipsis;
}
.art_typ {
	width: 95px;
	min-width: 95px;
	max-width: 95px;
}
.art_cat {
	width: 35%;
	min-width: 110px;
	max-width: 110px;
	white-space: nowrap;
}
.art_cat b {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
}
.art_opt {
	width: 84px;
}
.art_stat {
	width: 43px;
}
.art_func {
	width: 84px;
}

/* category manager overview */
.cat_ttl {
	width: 50%;
	min-width: 260px;
	max-width: 260px;
	white-space: nowrap;
}
.cat_ttl span {
	overflow: hidden;
	text-overflow: ellipsis;
}
.cat_cat {
	width: 34%;
	min-width: 180px;
	max-width: 180px;
	white-space: nowrap;
}
.cat_opt, .cat_func {
	min-width: 84px;
	max-width: 84px;
	width: 84px;
}
.popup_rows {
	height:0px;
	z-index:900;
}

/* manager table td's */
.pmxfloattd {
	width: 50%;
	min-width: 350px;
	padding: 4px !important;
}

/* small modifications for the SC jquery editor */
.sceditor-insertemoticon {
	margin-bottom: 3px !important;
	margin-top: -3px !important;
}
.sceditor-container {
	border-radius: 0 0 6px 6px !important;
}
.red_content {
	margin-top: -10px;
	margin-right: 3px;
}

.generic_icons.help {
	background: url(Images/helptopics.png) no-repeat;
	margin-top: 2px;
}
.portal_adm_menu {
	min-height: 30px;
}
#pmxmenu_nav {
	padding-bottom: 3px;
}
.portal_adm_submenu {
	margin-top: 0 0 8px 0;
	padding-left: 0px !important;
}

textarea#content, textarea#content_init {
	border-top-left-radius:0 !important;
	border-top-right-radius:0 !important;
	border-bottom-left-radius:6px !important;
	border-bottom-right-radius:6px !important;
}
#check_content, #check_content_init {
	border-radius: 0;
}
.edit_main {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	margin-top: 0px !important;
}

/* style for special dropdown */
.dropdown {
	background-color: #ffffff;
	color: #000000;
	position: absolute;
	z-index: 10;
}
.dropdown option {
	height: 20px;
	padding-top: 2px;
}
.dropdown option:hover {
	background-color: #1e90ff;
	color: #ffffff;
}
.singledd {
	z-index: 10;
	position: relative;
}
.singleddabs {
	z-index: 10;
	position: absolute;
	border: 1px solid #1e90ff;
}
.singledd:focus,
.singleddabs:focus {
	border: 1px solid #40a0e0;
}
.singledd option:hover,
.singleddabs option:hover {
	background-color: #1e90ff;
	color: #ffffff;
}
/* style for Image select drodown */
#iconDD {
	width: 168px;
	padding-left: 27px;
	height: 24px;
	font-size: 1em;
	padding-top: 2px;
	cursor: default;
}
.pmxpopup_btn {
	 height: 24px !important;
	 margin-top: 1px;
}
.Blkedit {
	position: relative !important;
	top: -12px !important;
	left: 100px !important;
}
.Blkedit_mb {
	position: relative !important;
	top: -14px !important;
	left: 100px !important;
}
.pmx_tblfrm {
	margin: 0 !important;
	box-shadow: none !important;
	padding: 0 1px 0 0 !important;
	border: 0;
	border-radius: 0;
}
.pmx_tbl_grid {
	margin-bottom: 0px !important;
}
.Artedit {
	position: relative !important;
	top: -12px !important;
	left: 100px !important;
}

.ttlicondd {
	position: absolute;
	top: 131px;
	left: 92px;
	width: 168px;
	height: 222px;
	display: none;
	z-index: 100;
	border:1px solid #40a0e0;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0px;
	background-color: #ffffff;
	display: none;
	margin-bottom: 10px;
}
.ttlicondd li {
	height: 22px;
	padding: 0;
	margin: 0;
	cursor: default;
}
.ttlicondd li img {
	padding-left: 5px;
	vertical-align: text-top;
}
.ttlicondd li span {
	vertical-align: 1px;
	padding-left: 6px;
}
.ttlicondd li:hover {
	background-color: #1e90ff;
	color: #ffffff;
}
.ttlicondd li.active {
	background-color: #1e90ff;
	color: #ffffff;
}
.ttlicondd li.selected {
	background-color: #1e90ff;
	color: #ffffff;
}
.ttlicon {
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
}
.ttliconDiv {
	height: 25px;
	z-index: 10;
	display: inline-block;
	position: relative;
	top: 8px;
	left: 0px;
	width:150px;
}
.ddImage {
	position: relative;
	top: -24px;
	left: 134px;
	z-index: 11;
}
.ddImageBlk {
	position: relative;
	top: -24px;
	left: 134px;
	z-index: 11;
}
.pwindicon {
	position: relative;
	top: -20px;
	left: 6px;
	z-index: 11;
}
.pwindiconBlk {
	position: relative;
	top: -20px;
	left: 6px;
	z-index: 11;
}

/* information boxes */
.portal_info {
	margin-bottom: 0px !important;
	padding: 10px !important;
}
.info_text, .info_text_left, .info_text_right {
	border: 1px solid #909090;
	border-color: rgba(144,144,144,.5);
	background: #f5f5f0;
	border-radius: 0.4em;
	line-height: 1.2em;
	padding: 5px;
	margin: 5px 2px 3px 0px;
	display: none;
	clear: both;
	font-size: 9pt;
}
.info_center {
	text-align: center;
	padding-top: 5px;
	font-size: 8pt !important;
}
.info_text_left {
	text-align: left;
}
.info_text_right {
	text-align: right;
}
.info_frame {
	display: none;
	clear: both;
}
.info_toggle {
	cursor: pointer !important;
	vertical-align: bottom;
}
.info_border {
	padding: 2px;
}
.info_border span {
	cursor: pointer;
	width: 20px;
	float: left;
	padding-top: 1px;
}
.info_border div {
	line-height: 1.3em;
	margin: 0px 3px;
	padding-bottom: 2px;
}

/* click images on overview */
.pmx_clickaddnew {
	float: right;
	width: 16px;
	height: 16px;
	padding-left: 5px;
	margin-top: 5px;
	background: url(Images/page_new.gif) no-repeat;
	cursor: pointer;
}
.pmx_filter,.pmx_nofilter {
	float: right;
	width: 16px;
	height: 16px;
	margin-top: 5px;
	cursor: pointer;
}
.pmx_filter {
	background: url(Images/opt_filter.png) no-repeat;
}
.pmx_nofilter {
	background: url(Images/opt_nofilter.png) no-repeat;
}
.pmx_filtertxt {
	width: 160px;
	float: left;
}
.pmx_clickrow {
	float: left;
	width: 16px;
	height: 18px;
	margin: 0px 3px 1px 2px;
}
.pmx_moveimg {
	background: url(Images/row_switch.png) no-repeat;
	margin-top: 1px;
	cursor: pointer;
}
.pmx_pgedit {
	background: url(Images/page_edit.gif) no-repeat;
	margin-top: 1px;
	cursor: pointer;
}
.pmx_grpacs {
	background: url(Images/group.gif) no-repeat;
	margin-top: 1px;
	cursor: pointer;
}
.pmx_pgclone {
	background: url(Images/page_clone.gif) no-repeat;
	margin-top: 1px;
	cursor: pointer;
}
.pmx_pgmove {
	background: url(Images/page_move.gif) no-repeat;
	margin-top: 1px;
	cursor: pointer;
}
.pmx_pgdelete {
	background: url(Images/page_del.gif) no-repeat;
	margin-top: 1px;
	cursor: pointer;
}
.pmx_access {
	margin-top: 1px;
	background: url(Images/group.gif) no-repeat;
}
.pmx_moderate {
	margin-top: 1px;
	background: url(Images/user.gif) no-repeat;
}
.pmx_dynopts {
	margin-top: 4px;
	background: url(Images/app_dyn.gif) no-repeat;
}
.pmx_custcss {
	margin-top: 1px;
	background: url(Images/css.gif) no-repeat;
}
.pmx_cache {
	margin-top: 1px;
	background: url(Images/adm_cacheclr16.png) no-repeat;
}
.pmx_eclsettings {
	margin-top: 1px;
	background: url(Images/ecl.png) no-repeat;	
}
.pmx_active {
	background: url(Images/page_unlock.gif) no-repeat;
	margin-top: 1px !important;
	cursor: pointer;
}
.pmx_notactive {
	background: url(Images/page_lock.gif) no-repeat;
	margin-top: 1px !important;
	cursor: pointer;
}
.pmx_approved {
	background: url(Images/art_approved.gif) no-repeat;
	margin-top: 1px;
	cursor: pointer;
}
.pmx_notapproved {
	background: url(Images/art_notapproved.gif) no-repeat;
	margin-top: 1px;
	cursor: pointer;
}
.pmx_table_grid td {
	padding: 2px 5px 3px !important;
}
.pmx_table_grid td img {
	vertical-align: -3px;
}
.pmx_table_grid td div img {
	margin-top: 2px;
}
#pmxRowMove img, #pmxSetCloneMove img, #pmxSetDelete img {
	vertical-align: -4px;
}

/* input ckeckbox etc */
.adm_titlebar, .adm_center_titlebar {
	padding: 4px;
	margin-bottom: 4px;
}
.adm_center_titlebar {
	text-align: center;
}
.adm_center {
	text-align: center;
	display: block;
}
.adm_txt {
	width: 99.5%;
}
.adm_clear {
	clear: both;
}
.adm_input, .adm_check {
	clear: both;
	min-height: 27px;
}
.adm_sel {
	padding-bottom:4px;
}

.adm_input span, .adm_check span {
	float: left;
}
.adm_input div input {
	margin-top: -1px;
}
.adm_check div input {
	margin: 5px 0 0 1px;
	display: inline;
}
.adm_input select {
	margin-top: 5px;
}
.adm_hover:hover {
	cursor: pointer;
}
.adm_textarea,
textarea.adm_textarea {
	resize: vertical;
	overflow-y: auto;
}

textarea::-webkit-scrollbar-button:vertical:start,
textarea::-webkit-scrollbar-button:vertical:end {
	display: none;
}
input.input_radio {
	vertical-align: -2px !important;
}
input.input_check {
	margin: 0 !important;
	vertical-align: -2px !important;
}

textarea {
	padding: 3px 3px 1px;
	min-height: 140px;
	max-height: 400px;
}
.admin_hover span {
	cursor: pointer;
}
.admin_hover span:hover {
	text-decoration: underline;
}
.cat_none {
	background: url(Images/empty.gif) no-repeat scroll 0 1px;
	font-weight: bold;
	cursor: pointer;
}
.cat_root {
	background: url(Images/cat_root.png) no-repeat scroll 0 1px;
	font-weight: bold;
	cursor: pointer;
 }
.cat_rootchild {
	background: url(Images/cat_rootchild.png) no-repeat scroll 0 1px;
	font-weight: bold;
	cursor: pointer;
}
.cat_child {
	background: url(Images/cat_child.png) no-repeat scroll 0 1px;
	font-weight: bold;
	cursor: pointer;
}
.cat_level {
	background: url(Images/cat_level.png) no-repeat scroll 0 1px;
	font-weight: bold;
	cursor: pointer;
}
.cat_none b,
.cat_root b,
.cat_rootchild b {
	font-size: 9px;
	display: block;
	color: transparent;
	margin: 0 -3px -3px 2px;
	float: left;
}
.cat_child b,
.cat_level b {
	font-size: 9px;
	display: block;
	margin: 0 -3px -3px 2px;
	float: left;
}
.cat_none span,
.cat_root span,
.cat_rootchild span,
.cat_child span,
.cat_level span {
	padding-left: 7px;
	font-weight: normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}
.cat_names {
	font-weight: normal;
	padding-left: 22px;
	top: 0px !important;
}
.adm_w100{
	width: 90%;
}
.adm_w90 {
	width: 82.5%;
}
.adm_w80 {
	width: 78.5%;
}
.adm_w70 {
	width: 70%;
}
.adm_w60 {
	width: 60%;
}
.adm_w50 {
	width: 50%;
}

.panel_img {
	float: left;
	margin-right: 5px;
	margin-top: -1px;
	height: 50px;
}
/* EOF */